<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="by.gravity.doublexplayer.library"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name=".DoublePlayerApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true" >
    </application>

</manifest>